apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wonder-mesh-net.fullname" . }}-secret
  labels:
    {{- include "wonder-mesh-net.labels" . | nindent 4 }}
type: Opaque
data:
  # If jwtSecret is provided, use it. Otherwise, we rely on Helm lookup to persist generated secret (if supported) or generate random.
  # For simplicity, if empty, we generate a random 32 char string.
  {{- $jwtSecret := .Values.coordinator.jwtSecret | default (randAlphaNum 32) }}
  jwt-secret: {{ $jwtSecret | b64enc | quote }}
  keycloak-client-secret: {{ .Values.coordinator.oidc.clientSecret | b64enc | quote }}
